body {
    font-family: 'Consolas';
    background-color: #000;
    color: #0f2f0f;
    margin: 0;
    padding: 0;
}

.index-bg {
    background: radial-gradient(circle, #000 0%, #001f00 40%, #000 100%);
    animation: animate-index-bg 10s infinite alternate ease-in-out;
}

@keyframes animate-index-bg {
    0% {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
    50% {
        background-size: 150% 150%;
        background-position: 50% 50%;
    }
    100% {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
}

.m-bg {
    background: linear-gradient(to bottom, #000 0%, #001f00 20%, #000 100%);
    animation: m-animation 3s infinite;
}

@keyframes m-animation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

nav a {
    text-shadow: 0 0 10px #1e5937;
    margin-right: 20px !important;
}

nav a:hover {
    color: #3c9e6b !important;
}

.card {
    background-color: black;
    border: 1px solid #2e8b57;
    box-shadow: 0 0 10px #1e5937;
    font-family: inherit;
}

.m-card {
    box-shadow: 0 0 15px #2e8b57, 0 0 20px #1e5937;
}

.form-container {
    width: 40%;
}

.card h1 {
    color: #2e8b57;
    text-shadow: 0 0 15px #2e8b57;
    font-family: inherit;
}

.m-button {
    background: linear-gradient(45deg, #1e5937, #2e8b57);
    border: 1px solid #2e8b57;
    text-shadow: 0 0 5px #1e5937;
    font-family: inherit;
}

.m-button:hover {
    background: linear-gradient(45deg, #2e8b57, #3c9e6b);
    text-shadow: 0 0 10px #3c9e6b;
    color: #000;
}

.form-control {
    background-color: black !important;
    border: 1px solid #2e8b57;
    color: #2e8b57;
    box-shadow: 0 0 5px #1e5937;
    font-family: inherit;
}

.form-control:focus {
    background-color: black !important;
    box-shadow: 0 0 10px #2e8b57;
    color: #2e8b57;
}

.error-message {
    color: #ff4c4c;
    font-weight: bold;
    text-shadow: 0 0 10px #ff0000;
    margin-bottom: 20px;
}